^{:watch-dirs ["src"]
  :css-dirs ["resources/public/css"]}
{:main cljs-ess.core
 :preloads [figwheel.repl.preload figwheel.core figwheel.main]
 :output-to "resources/public/js/main.js"
 :output-dir "resources/public/js/out"}
