^{:watch-dirs ["src/tut5"]
  :css-dirs ["resources/public/css"]
  :open-url "http://localhost:9500/split.html"}
{:output-dir "resources/public/js/out"
 :optimizations :none
 :modules {:page-a {:entries #{code-split.page-a}
                    :output-to "resources/public/js/page_a.js"}
           :page-b {:entries #{code-split.page-b}
                    :output-to "resources/public/js/page_b.js"}}}
